/* Video Item */
.youtube-video-item {
  width: 230px;
  height: 220px;
  margin: 0px 20px 20px 0px;
}

.youtube-video-thumbnail {
  width: 100%;
  height: 140px;
  background-color: #18151b;
  border-radius: 14px;
}

.youtube-video-playlist-title {
  font-weight: 500;
  font-size: 12px;
  color: white;
  margin-top: 16px;
  text-align: left;
  font-weight: 500;
}

.youtube-video-channel-name {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(151, 151, 151);
  text-align: left;
}

/* Video Metrics */
.video-metrics-container {
  position: absolute;
}

@media screen and (max-width: 712px) {
  .youtube-video-item {
    width: 340px;
    margin-bottom: 70px;
  }
  .youtube-video-thumbnail {
    width: 100%;
    height: 190px;
  }
}

/* Youtube Playlist Vid Card */
.youtube-card-playlist {
  font-family: "Poppins";
  font-weight: 300;
  transition: 0.2s ease-in-out all;
  border-radius: 15px;
  position: relative;
  margin-left: 35px;
  width: 180px;
}

.youtube-card-playlist.notChosen {
  cursor: pointer;
}

.youtube-card-playlist h3 {
  margin: 0px;
}

.video-music-playlist-img-container {
  height: 120px;
  width: 180px;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
}

.video-music-playlist-img-container.notChosen.clicked {
  border: 3px solid white;
}

.youtube-card-playlist-img {
  height: 120px;
  width: 180px;
  transform: scale(1.2);
  object-fit: cover;
}

.youtube-card-playlist-details {
  display: block;
}

.youtube-card-playlist-title-container {
  display: flex;
  align-items: center;
  margin: 0px;
}

.youtube-card-playlist-title-details {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.youtube-card-playlist-title {
  font-weight: 600;
  font-size: 12px;
  margin-top: -4px;
  padding: 0px;
}

.playlist-item-chosen-check {
  font-family: "Poppins";
  margin-left: 8px;
  color: #666666;
  font-weight: 800;
}

.youtube-card-playlist-sub-title {
  margin: 4px 0px 10px 0px;
  font-weight: 600;
  font-size: 10px;
  color: #939393;
  white-space: nowrap;
}

.youtube-card-playlist-description {
  color: #818080;
  font-size: 10px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  margin-top: 7px;
  font-weight: 500;
}
